<header> <div class="search-header"><a href="#" class="logo"><i class="music-logo"></i></a> <div class="input-group search-group"> <form action="/"> <input type="text" name="search" placeholder="Search..." ng-model="keyword" ng-model-options="{ debounce: 500 }" class="form-control"> <input type="submit" value="" class="hidden"> <span class="input-group-btn"> <button type="button" class="btn"><i class="fa fa-search"></i></button> </span> </form> </div> <div class="account-icons"> <ul> <li> <a href="" class="add-to-cart" style="margin-top: 5px"> <img width="50px" src="[{profile.image.url}]" alt=""> </a> <div class="account-hover-box"> <div class="bottom-totals"> <button ng-click="logout()" class="checkout btn btn-default">Sign out</button> </div> </div> </li> </ul> </div> </div> <div class="simple-sidebar hidden-sm hidden-xs"> <ul> <!--<li><a href="#"><img src="img/discover-icon.png" alt="">
              <div class="hover-effect">
                <div class="text">Discover</div>
                <div class="dot"><i class="fa fa-circle"></i></div>
              </div></a></li>
            <li><a href="#"><img src="img/albums-icon.png" alt="">
              <div class="hover-effect">
                <div class="text">Albums</div>
                <div class="dot"><i class="fa fa-circle"></i></div>
              </div></a></li>
            <li><a href="#"><img src="img/songs-icon.png" alt="">
              <div class="hover-effect">
                <div class="text">Songs</div>
                <div class="dot"><i class="fa fa-circle"></i></div>
              </div></a></li>--> </ul> </div> </header>