<head> <meta name="viewport" content="width=device-width,initial-scale=1"> <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title> <meta name="description" content="{{ site.description }}"> <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> <link rel="stylesheet" href="css/vendor.min.css"> <link rel="stylesheet" href="css/style.min.css"> <script src="js/vendor.min.js"></script> <script src="js/source.min.js"></script> <script type="text/javascript">var CLIENT_ID = '327787094054-drtk3gpgvb2moj7rugs5j0c5bj5q2k7j.apps.googleusercontent.com',
                SCOPES = ['https://www.googleapis.com/auth/drive',
                            'https://www.googleapis.com/auth/plus.me'],
                player = null;
        String.prototype.toHHMMSS = function () {
            var sec_num = parseInt(this, 10); // don't forget the second param
            var hours = Math.floor(sec_num / 3600);
            var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
            var seconds = sec_num - (hours * 3600) - (minutes * 60);

            if (hours < 10 && hours > 0) {
                hours = "0" + hours;
            }
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }
            var time = minutes + ':' + seconds;
            hours > 0 && (time = hours + ':' + time);
            return time;
        };

        function compare(strA,strB){
            for(var result = 0, i = strA.length; i--;){
                if(typeof strB[i] == 'undefined' || strA[i] == strB[i]);
                else if(strA[i].toLowerCase() == strB[i].toLowerCase())
                    result++;
                else
                    result += 4;
            }
            return 1 - (result + 4*Math.abs(strA.length - strB.length))/(2*(strA.length+strB.length));
        }
        function checkAuth() {
            player = videojs("player", {"controls": true, "autoplay": true, "preload": "auto"});


            player.on("loadeddata", function () {
                $(".duration").text(player.duration().toString().toHHMMSS());
                ["#player-bar-big", "#player-bar-small"].forEach(function (wrapper) {
                    var query = wrapper + " .jp-progress";
                    $(query).click(function (event) {
                        event.stopPropagation();
                        var timePerPixel = player.duration() / $(query).width();
                        console.log(timePerPixel * (event.pageX - $(query).offset().left) / 60);
                        var timeToSeek = timePerPixel * (event.pageX - $(query).offset().left);
                        player.currentTime(timeToSeek);
                    });
                });

            });

            player.on("timeupdate", function () {
                ["#player-bar-big", "#player-bar-small"].forEach(function (wrapper) {
                    $(wrapper+" .currentTime").text(player.currentTime().toString().toHHMMSS());
                    $(wrapper+" .jp-play-bar").width(player.currentTime() * 100 / player.duration() + "%");
                });


            });

            player.on("error", function (err) {
              console.log(err)

            });
            angular.bootstrap(document, ['cloudPlayer']);
        }</script> <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script> <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68404852-1', 'auto');
        ga('send', 'pageview');</script> 