<!DOCTYPE html>
<html ng-cloak="">
{% include head.html %}

<body class="with-search-header page-template page-template-page-templates page-template-page-builder page-template-page-templatespage-builder-php page page-id-385">
{% include header.html %}
<div class="main-content" >
    {{ content }}
    <div class="clearfix"></div>
</div>
{% include footer.html %}

<div class="loading" id="loading">
    <div class="v-cell text-center">
        <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"> </i>
      <!--  <img src="images/loading.gif">-->
    </div>
</div>
</body>
</html>
